.workday { /* Стили для рабочих дней */
  background-color: #6dcc554b; /* Цвет фона */
  color: #5a5a5a; /* Цвет текста */
  font-weight: bold; /* Жирный шрифт */
}

.selected-date {
  background-color: #3267fac5;
  color: white;
  font-weight: bold;
}